* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(168, 184, 165);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

main {
    display: flex;
    flex: 1 1 auto;
    gap: 2vh;
    padding: 2vh 1vw;
    overflow: hidden;
    height: calc(100vh - 10vh);
    overflow-y: scroll;
}